#main {
  transition: margin-left .5s;
  height: 100vh;
}
/* Login Edit */
/* splash */
.aladin{
  background-image: url('../img/home-background.jpg');
  background-size:cover;
  background-position:center center;
}
/*  */
.navbar{
  background-color: #F4425C;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
.rolename {
  width: auto;
  height: 25vh;
  background-color: #F4425C;
}
.rolename h1{
  line-height: 25vh;
  color: white;
}
.card-header-1{
  background-color: #00ACD7;
}
.card-header-2{
  background-color: #009551;
}
.card-header-3{
  background-color: #DA8C10;
}
.card-header-4{
  background-color: #C64333;
}
.card-body-1{
  background-color: #00C0EF;
}
.card-body-2{
  background-color: #00A65A;
}
.card-body-3{
  background-color: #F39C12;
}
.card-body-4{
  background-color: #DD4B39;
}
.btn-quick1{
  background-color: #26A69A;
  width: 230px;
  height: 54px;
  border: unset;
  color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}
.footer{
  background-color: #EE6E73;
  text-align: center;
  color: white;
  padding: 4px;
}
.list-group-item{
  border: none;
  margin: 1px 0;
  padding-left: 25px;
}
.list-group-item:hover{
  background-color: #E5E5E5;
}
.userphoto{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.sidebar a{
  color: #606060;
  text-decoration: none;
}
.btn-quick1 a{
  color: white;
  text-decoration: none;
}
.btn-quick1:hover{
  -webkit-box-shadow: 2px 2px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 21px -5px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 21px -5px rgba(0,0,0,0.75);
}
input[type=text],input[type=number],input[type=password]{
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: unset;
  border-bottom: 1px solid #9E9E9E;
  transition: all 0.3s;
}
input[type=text]:focus,input[type=number]:focus,input[type=password]:focus{
  border-bottom: 2px solid #26A69A;
}
.custom-form{
  padding: 40px 20px;
}
/* .middle{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
@media(max-width: 992px){
  .rolename h1{
    font-size: 30px;
  }
}
@media(max-width: 485px){
  .rolename h1{
    font-size: 20px;
  }
}
@media(max-width: 767px){
  .sidebar{
    display: none;
    width: 0;
  }
  #main{
    margin-left: unset;
  }
  .hidden-navitems{
    display: inline-block;
  }
}
@media(min-width: 768px){
  .custom-form{
    padding: 40px 80px;
  }
  .custom-form .form-group{
    box-sizing: border-box;
    margin-bottom: 35px;
  }
  .sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.45);
    box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.45);
    }
  /* .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      color: #818181;
      display: block;
      transition: 0.3s;
  } */
  #main{
      margin-left: 300px;
  }
  .sidebar-top{
    width: auto;
    height: 33.5vh;
    background-image: url("../img/food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 25px;
    padding-top: 80px;
  }
  .sidebar-bottom{
    height: 66.5vh;
    width: auto;
    background-color: white;
  }
  .hidden-navitems{
    display: none;
  }
}